
table, td, th {    
    border: 3px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
	
}

th, td {
    padding: 15px;
}
tr:first-child{
background-color:lightgray;
}
tr{
background-color:#F0FFFF;
}

.title, .body-text, .titleForm{
text-align:center;
}
.navbar-brand{
display:inline;
}

.form{
border: 1px solid gray;
width:340px;
height:220px;
margin-left:500px;
margin-top:50px;
background-color:lightgray;
text-align:center;
}
input{
margin-left:25px;
border:2px solid gray;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}